{% extends "main/base.html" %}

{# <title> del navegador #}
{% block title %}Tickets  Mis tickets{% endblock %}

{# Cabecera grande del jumbotron #}
{% block header_icon %}<i class="fa fa-file-text-o fa-5x"></i>{% endblock %}
{% block headline %}Mis tickets{% endblock %}
{% block head-message %}Tickets asignados personalmente a usted{% endblock %}

{% block content %}
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script>
    $(function () {
        $('#assigned').dataTable();
        $('#unassigned').dataTable();
        $('#waiting').dataTable();
    });
</script>

<div class="row">
    <div class="col-lg-12">

        <a href="{% url 'ticket_new' %}?next={{ request.path }}">
            <button class="btn btn-primary" style="float:right;margin-top:-50px;margin-right:20px;">
                Crear nuevo ticket
            </button>
        </a>

        {# -------- Tickets en espera de nuestra respuesta -------- #}
        {% if tickets_waiting %}
            <div class="alert alert-danger" style="margin-top:20px;">
                <b>¡Tus compañeros esperan tu respuesta!</b><br><br>

                <table id="waiting" class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Estado</th>
                            <th>Propietario</th>
                            <th>Asignado a</th>
                            <th>Título</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets_waiting %}
                            <tr>
                                <td><a href="{% url 'ticket_detail' pk=ticket.id %}">{{ ticket.id }}</a></td>
                                <td>
                                    {% if ticket.status == "TODO" %}
                                        <span class="label label-danger">PENDIENTE</span>
                                    {% elif ticket.status == "IN PROGRESS" %}
                                        <span class="label label-default">EN&nbsp;PROCESO</span>
                                    {% elif ticket.status == "WAITING" %}
                                        <span class="label label-warning">EN&nbsp;ESPERA</span>
                                    {% elif ticket.status == "DONE" %}
                                        <span class="label label-success">FINALIZADO</span>
                                    {% else %}
                                        {{ ticket.status }}
                                    {% endif %}
                                </td>
                                <td>{{ ticket.owner }}</td>
                                <td>{{ ticket.assigned_to }}</td>
                                <td>{{ ticket.title }}</td>
                                <td>{{ ticket.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {# -------- Tabla principal: tickets asignados a mí -------- #}
        <div class="page-header"><h1>Tickets asignados a mí</h1></div>

        <table id="assigned" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estado</th>
                    <th>Propietario</th>
                    <th>Título</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td><a href="{% url 'ticket_detail' pk=ticket.id %}">{{ ticket.id }}</a></td>
                        <td>
                            {% if ticket.status == "TODO" %}
                                <span class="label label-danger">PENDIENTE</span>
                            {% elif ticket.status == "IN PROGRESS" %}
                                <span class="label label-default">EN&nbsp;PROCESO</span>
                            {% elif ticket.status == "WAITING" %}
                                <span class="label label-warning">EN&nbsp;ESPERA</span>
                            {% elif ticket.status == "DONE" %}
                                <span class="label label-success">FINALIZADO</span>
                            {% else %}
                                {{ ticket.status }}
                            {% endif %}
                        </td>
                        <td>{{ ticket.owner }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}

